# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
flask-backend/server/.idea/misc.xml
flask-backend/server/.idea/modules.xml
flask-backend/server/.idea/server.iml
flask-backend/server/.idea/vcs.xml
flask-backend/server/.idea/workspace.xml
flask-backend/server/__pycache__/__init__.cpython-37.pyc
flask-backend/server/input/tmdb_5000_credits.csv
flask-backend/server/input/tmdb_5000_movies.csv
flask-backend/server/models/__pycache__/__init__.cpython-37.pyc
flask-backend/server/models/__pycache__/Contextual.cpython-37.pyc
flask-backend/server/models/__pycache__/Simple.cpython-37.pyc
flask-backend/server/output/content_sim.npy
flask-backend/server/output/meta_sim.npy
flask-backend/server/server/__init__.pyc
flask-backend/server/server/__pycache__/__init__.cpython-37.pyc
server/.idea/modules.xml
server/.idea/server.iml
server/.idea/workspace.xml
